<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: application.dataService.currentMode === 'setup'}"><a class="setup-settings" ng-click="application.chooseSetupMode()">Setup settings</a></li>
    <li role="presentation" ng-class="{active: application.dataService.currentMode === 'test'}"><a class="test" ng-click="application.chooseCheckMode()">Check test</a></li>
</ul>
<ui-view name="application"></ui-view>
