.test-state {
  padding: 40px;

  .test-input{
    margin-top: 30px;
    width: 30%;
  }

  .answer-button{
    margin-top: 20px;
  }
  .right-counter, .wrong-counter{
    display: inline-block;
    margin-right: 50px;
  }

  .right-counter{
    color: #4CAF50;
  }

  .wrong-counter{
    color: #F44336;
  }

  .integer-warning{
    color: #F44336;
    margin-top: 30px;
  }
}
