<div class="test-state">
    <form name="testForm" ng-submit="testState.checkAnswer()">
        <div class="form-group">
            <span ng-bind="testState.currentExpression"></span>
            <div class="integer-warning" ng-show="testForm.result.$invalid">Number must be integer and in range from 0 to 100!</div>
            <input name="result" result-validation-directive ng-model="testState.userAnswer" ng-disabled="testState.disable" type="text" class="form-control test-input">
            <input ng-show="!testForm.result.$invalid" ng-disabled="testState.disable" type="submit" class="btn btn-default answer-button" value="Answer">
        </div>
    </form>

    <div class="result-panel">
        <div class="right-counter">
            <h4>Правильних</h4>
            <span ng-bind="testState.rightAnswers"></span>
        </div>
        <div class="wrong-counter">
            <h4>Неправильних: </h4>
            <span ng-bind="testState.wrongAnswers"></span>
        </div>
    </div>
</div>
