<div class="setup-settings-state">
    <form ng-submit="setupSettingsState.submit()">
        <h3>Type of expressions</h3>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="setupSettingsState.multiplyMode"> Multiply
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="setupSettingsState.divideMode"> Divide
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="setupSettingsState.addMode"> Add
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="setupSettingsState.subtractMode"> Subtract
            </label>
        </div>
        <input class="btn btn-default" type="submit" value="Submit" />
    </form>
</div>
